@font-face {
  font-family: ObjectSans;
  src: url("./assets/fonts/ObjectSans-Regular.otf");
}

@font-face {
  font-family: ObjectSansHeavy;
  src: url("./assets/fonts/ObjectSans-Heavy.otf");
}

@import "tailwindcss";

@theme {
  --font-objectsans: "ObjectSans", sans-serif;
  --font-objectsans-heavy: "ObjectSansHeavy", sans-serif;
}

body {
  margin: 0;
  background-color: #231f20;
  font-family:
    -apple-system, BlinkMacSystemFont, "Fira Sans Extra Condensed", "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  overflow: hidden;
}
