@import "tailwindcss";

@font-face {
  font-family: ObjectSans;
  src: url("./assets/fonts/ObjectSans-Regular.otf");
}

@font-face {
  font-family: ObjectSansHeavy;
  src: url("./assets/fonts/ObjectSans-Heavy.otf");
}

@font-face {
  font-family: GothamBook;
  src: url("./assets/fonts/Gotham-Book.otf");
}

@font-face {
  font-family: GothamBold;
  src: url("./assets/fonts/Gotham-Bold.otf");
}

@font-face {
  font-family: GothamUltra;
  src: url("./assets/fonts/Gotham-Ultra.otf");
}

@font-face {
  font-family: GothamMedium;
  src: url("./assets/fonts/Gotham-Medium.otf");
}

@theme {
  --font-objectsans: "ObjectSans", sans-serif;
  --font-objectsans-heavy: "ObjectSansHeavy", sans-serif;
  --font-gotham-bold: "GothamBold", sans-serif;
  --font-gotham-ultra: "GothamUltra", sans-serif;
  --font-gotham-book: "GothamBook", sans-serif;
  --font-gotham-medium: "GothamMedium", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-infinite-scroll {
    animation: infinite-scroll 70s linear infinite;
  }
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

body {
  margin: 0;
  /* background-color: #231f20; */
  background-color: black;
  font-family:
    -apple-system, BlinkMacSystemFont, "Fira Sans Extra Condensed", "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  overflow: hidden;
}

.masked-image {
  -webkit-mask-image: url(assets/svg/blob_mask.png);
  mask-image: url(assets/svg/blob_mask.png);
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: right;
  background: transparent;
  overflow: hidden;
}
